body {
    background-image: url("https://static8.depositphotos.com/1003924/908/i/950/depositphotos_9083070-stock-photo-green-poker-table-felt-background.jpg");
    color: aliceblue;
    text-align: center;
}