

body {
    /* background-image: url("https://static8.depositphotos.com/1003924/908/i/950/depositphotos_9083070-stock-photo-green-poker-table-felt-background.jpg"); */
    background-image: url('images/backgroundImage.png');
    color: aliceblue;
    text-align: center;
}

header {
    display: inline-flex;
}

img {
    height: 150px;px;
    width: 100px;
    border-radius: 12px;
}

.player1 {
    display: inline-flex;
}

.player2 {
    display: inline-flex;
}

#startGame {
    background-color: blue;
    color: aliceblue;
    border-radius: 50%;
    padding: 10px;
}

#reset {
    background-color: red;
    color: aliceblue;
    border-radius: 50%;
    padding: 10px;
}

#bothStay {
    background: rgb(195, 198, 201);
    color: black;
    border-radius: 8px;
    padding: 10px;
}

#p1hit {
    background-color: black;
    color: aliceblue;
    border-radius: 8px;
    padding: 10px;
}

#p2hit {
    background-color: yellow;
    color: black;
    border-radius: 8px;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    img {
    height: 90px;px;
    width: 60px;
    border-radius: 8px;
    }
}

/* @media only screen and (min-width: 800px) {
    img {
    height: 250px;px;
    width: 180px;
    border-radius: 8px;
    }
} */
